#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi credentials
static const char* WIFI_SSID = "your-wifi-ssid";
static const char* WIFI_PASSWORD = "your-wifi-password";

// MQTT credentials
static const char* mqtt_username = "your-mqtt-username";
static const char* mqtt_password = "your-mqtt-password";

#endif // CREDENTIALS_H
